<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uiys.thingsfordesignpattern.mapper.CouponMapper">
    <resultMap id="BaseResultMap" type="com.uiys.thingsfordesignpattern.model.Coupon">
        <!--@mbg.generated generated on Thu Jul 07 01:55:35 CST 2022.-->
        <!--@Table coupon-->
        <id column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime"/>
        <result column="publish_begin_num" jdbcType="INTEGER" property="publishBeginNum"/>
        <result column="publish_left_num" jdbcType="INTEGER" property="publishLeftNum"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Thu Jul 07 01:55:35 CST 2022.-->
        uuid,
        create_time,
        update_time,
        publish_time,
        publish_begin_num,
        publish_left_num,
        start_time,
        end_time,
        type
    </sql>
</mapper>